gradlew
gradlew.bat
local.properties
settings.gradle
gradle/
gradle.properties
.gradle/
settings/
bin/
build.gradle
.settings/
.classpath
.project
android/gen/com/Poker/android/BuildConfig.java
android/gen/com/Poker/android/R.java
android/ic_launcher-web.png
android/libs/App42MultiPlayerGamingSDK.jar
android/libs/armeabi-v7a/libgdx-box2d.so
android/libs/armeabi-v7a/libgdx.so
android/libs/armeabi/libgdx-box2d.so
android/libs/armeabi/libgdx.so
android/libs/json-org.jar
android/libs/x86/libgdx-box2d.so
android/libs/x86/libgdx.so
android/proguard-project.txt
android/project.properties
